@media(min-width:50em) {
    .temples {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: bisque;
        width: 100%;
    }

    nav a {
        padding: 20px;
        border: 1%;
    }

    nav a:hover {
        text-decoration: overline;
    }
    #hamburger{
        display:none;
    }
}